<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecnu.smartmarketing.mapper.AdvertisementLabelMapper">

    <select id="selectByLabel" resultType="com.ecnu.smartmarketing.entity.Advertisement">
        select t1.* from advertisement t1
        left join advertisement_label t2 on t1.id=t2.advertisementId
        left join label t3 on t3.id=t2.labelId
        <if test="labelList!=null and labelList.size()>0">
            <where>
                t3.name IN
                <foreach collection="labelList" item="label" index="index" open="(" separator="," close=")">
                    #{label}
                </foreach>
            </where>
        </if>
    </select>
</mapper>